# Drupal
test-results
scripts/local
scripts/drupal
files_private
private_files

vendor
*/*/*/vendor
*/*/vendor

# Server files
private_files
static_osdp

# Ignore Development Files
compass_app_log.txt
*.DS_Store
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.sass-cache
ttt*

# Node
node_modules/
bower_components/

# SASS
.sass-cache
*.sass-cache*
**/sass/*.css
/.gitattributes

#PhPStorm
.idea

# Drupal
html/*
!html/modules/custom
!html/modules/custom/*
!html/themes/custom
!html/themes/custom/*

# Custom
docker

# Postgres
*.backup

# WxT
test-results
files_private/

# Tarball
*.tar.gz
/.editorconfig

