@use "sass:color";

// Allow wells and panel headers to take on the bg colours
.well,
.panel-default>.panel-heading {
  &.bg-success {
    background-color: #dff0d8;
  }
  &.bg-info {
    background-color: #d9edf7;
  }
  &.bg-warning {
    background-color: #fcf8e3;
  }
  &.bg-danger {
    background-color: #f2dede;
  }
}

.bg-grey,
.bg-ltgrey {
  background-color: $gc-ltgrey-background;
}

.bg-dkgrey {
  background-color: $gc-dkgrey-background;
}

.well {
  padding: 24px;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .well-link {
    font-weight: bold;
  }

  &.well-xl {
    padding: 32px;
  }

  &.well-lg {
    padding: 24px;
  }

  &.well-sm {
    padding: 9px;
  }

  // Tidy up margins on first and last element inside well so you don't have to adjust manually
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  // deprecated in favour of global changes
  &.clean-well {
    padding: 24px;
    border-radius: 0;
    &.bg-white,
    &.bg-none {
      border: 1px solid $gc-ltgrey-border;
    }
  }

  &.bg-none {
    background: none;
    .well-link, .well-text {
      color: inherit;
    }
  }

  &.bg-white {
    background-color: #FFFFFF;
    .well-link, .well-text {
    }
  }

  &.bg-grey,
  &.bg-ltgrey {
    background-color: $gc-ltgrey-background;
    border: 1px solid $gc-ltgrey-border;
    .well-link, .well-text {
      color: $gc-ltgrey-link;
    }
  }

  &.bg-dkgrey {
    background-color: $gc-dkgrey-background;
    border: 1px solid $gc-dkgrey-border;
    .well-link, .well-text {
      color: $gc-dkgrey-link;
    }
  }

  &.bg-dark {
    background-color: $gc-dark-background;
    border: 1px solid $gc-dark-border;
    .well-link, .well-text {
      color: $gc-dark-link;
    }
  }

  &.bg-darker {
    background-color: $gc-darker-background;
    border: 1px solid $gc-darker-border;
    .well-link, .well-text {
      color: $gc-darker-link;
    }
  }

  &.bg-dark,
  &.bg-darker {
    color: $gc-dark-link;
    a, a:visited {
      color: #fff;
    }
    a:hover, a:focus {
      color: #b3ffff;
    }
  }

  &.bg-primary {
    color: #fff;
    background-color: $gc-primary-background;

    .well-link, .well-text {
      color: $gc-primary-link;
    }
  }

  &.bg-success {
    background-color: $gc-success-background;

    .well-link, .well-text {
      color: $gc-success-link;
    }
  }

  &.bg-info {
    background-color: $gc-info-background;

    .well-link, .well-text {
      color: $gc-info-link;
    }
  }

  &.bg-warning {
    background-color: $gc-warning-background;

    .well-link, .well-text {
      color: $gc-warning-link;
    }
  }

  &.bg-danger {
    background-color: $gc-danger-background;

    .well-link, .well-text {
      color: $gc-danger-link;
    }
  }
}
