/* Wells */
@use 'wells';

/* Beta theme css */
@use 'beta';


.region-branding {
  ul.nav {
    > li {
      > a {
        display: inline-block;
        padding: 0;
      }
    }
  }
}

.region-banner {
  margin: 10px 0;
}

// Allow wells and panel headers to take on the bg colours
.well,
.panel-default>.panel-heading {
  &.bg-success {
    background-color: #dff0d8;
  }
  &.bg-info {
    background-color: #d9edf7;
  }
  &.bg-warning {
    background-color: #fcf8e3;
  }
  &.bg-danger {
    background-color: #f2dede;
  }
}

.contextual-region .contextual .contextual-links li {
  background-color: #fff;
  a {
    color: #333;
  }
}

#wb-info .landscape .contextual-links a {
  color: #333;
}

.nrwxt-tabs {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
