{#

/**
 * @file
 * The body template file of the language_selection_page module.
 *
 * Available variables:
 *  - configure_url: the configuration page for the module.
 *  - destination: url of the page without a language set.
 *  - language-links: links to the page in all available language.
 */

#}

<div class="sp-hb">
  <div class="sp-bx col-xs-12">
    <h1 property="name" class="wb-inv">Canada.ca</h1>
    <div class="row">
      <div class="col-xs-11 col-md-8" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
        <img src="./libraries/theme-gcweb/assets/sig-spl.svg" width="283" alt="Government of Canada" property="logo"><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
        <meta property="name" content="Government of Canada">
        <meta property="areaServed" typeof="Country" content="Canada">
      </div>
    </div>
    <div class="row">
      <section class="col-xs-6 text-right">
        <h2 class="wb-inv">Government of Canada</h2>
        <p><a href="./en" class="btn btn-primary">English</a></p>
      </section>
      <section class="col-xs-6" lang="fr">
        <h2 class="wb-inv">Gouvernement du Canada</h2>
        <p><a href="./fr" class="btn btn-primary">Français</a></p>
      </section>
    </div>
  </div>
  <div class="sp-bx-bt col-xs-12">
    <div class="row">
      <div class="col-xs-7 col-md-8">
        <a href="https://www.canada.ca/en/transparency/terms.html" class="sp-lk">Terms and conditions</a> <span class="glyphicon glyphicon-asterisk"></span> <a href="https://www.canada.ca/fr/transparence/avis.html" class="sp-lk" lang="fr">Avis</a>
      </div>
      <div class="col-xs-5 col-md-4 text-right mrgn-bttm-md">
        <img src="./libraries/theme-gcweb/assets/wmms-spl.svg" width="127" alt="Symbol of the Government of Canada"><span class="wb-inv"> / <span lang="fr">Symbole du gouvernement du Canada</span></span>
      </div>
    </div>
  </div>
</div>
<!--
<div class="language_selection_page_body">
    <div class="language_selection_page_body_inner">
        <p>No language has been detected and you are coming from <b>{{ destination }}</b></p>

        <p>You should go to the page in:</p>
        {{ language_links }}
        <p>This page is the default page of the module Language Selection Page, you can <a href="{{ configure_url }}">configure the module</a> to alter its behavior.</p>
    </div>
</div>
-->
