@use "sass:color";

h1 {
    border: none !important;
}

// Colours
$equalby-white: #ffffff;
$equalby-purple: #330066;
$equalby-pink: #CD3298;

$equalby-gold: #A27200;
$equalby-gold-dark: #6f4e01;

$equalby-blue: rgb(31, 78, 121);
$equalby-blue-dark: color.scale($equalby-blue, $lightness: -10%, $saturation: 10%);

$equalby-yellow: rgb(127, 96, 9);
$equalby-yellow-dark: color.scale($equalby-yellow, $lightness: -10%, $saturation: 10%);

.bg-purble {
  background-color: #330066;
}

.border-pink {
  border-bottom: 10px solid #CD3298;
}

.btn-gold,main .btn-gold {
  border: none;
  background-color: $equalby-gold;
  font-size: 0.8em;
  padding: 8px 0;
  min-height: 54px;
}

.btn-gold.active,.btn-gold.focus,.btn-gold:active,.btn-gold:focus,.btn-gold:hover,.open>.btn-gold.dropdown-toggle {
  background-color: $equalby-gold-dark;
}


@media (min-width: 768px) {
  .equal-height-btns {
    display:flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .equal-height-btns > div {
    width: 33%;
  }

  .equal-height-btns .btn {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
}


.imagehover:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}


.well {
  &.equalby-blue {
    color: $equalby-white;
    background: $equalby-blue;
  }
  &.equalby-yellow {
    color: $equalby-white;
    background: $equalby-yellow;
  }
}

// Larger Banner
header .brand img, header .brand object {
  max-height: 70px !important;
}

#wb-sm .menu > li a:hover, #wb-sm .menu > li a:focus {
  outline-offset: -2px;
  outline-style: inset;
  outline-width: 2px;
  outline: none !important;
}

#wb-info .landscape {
  background: $equalby-blue !important;
}

/* Tidy up the mobile menu */
@media screen and (max-width: 767px) {
  #wb-glb-mn {
    margin: 0 !important;
    position: absolute;
    top: 8px;
    right: 29px;
    .user-logged-in & {
      top: -97px;
    }
  }
}

/* Hamburger */
.btn-equalby-menu {
  padding: 0 5px !important;
  font-size: 1.5em;
  background: none;
  color: $equalby-blue;
  border: none !important;
  &:focus,&:hover,&:active {
  }
}

#mb-pnl {
  visibility: hidden;
  &.wb-overlay-inited {
    visibility: initial;
  }
  .modal-header {
    display: none;
  }
  .modal-body {
    padding-top: 37px;
    li {
      line-height: 1;
    }
    .lng-ofr {
      text-align: left;
      padding: 15px 0 0 30px;
    }
  }
  .modal-footer {
    //border: none;
    margin-top: -47px;
  }
}

// Float Icon
.field--name-body {
  .float-icon-wrapper {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    float: left;
    margin-top: -134px;
    background: $equalby-blue;
    width: 115px;
    height: 115px;
    padding: 15px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    position: relative;
    .float-icon {
      width: 66px;
      margin: auto;
      top: 0;
      height: auto;
      display: inline-block;
      position: absolute;
      bottom: 0;
      margin-left: -32px;
    }
    &.equalby-blue {
      background: $equalby-blue;
    }
    &.equalby-yellow {
      background: $equalby-yellow;
    }
  }
}


#wb-sm {
  background: $equalby-blue !important;
  .menu>li a:focus, .menu>li a:hover {
    background: $equalby-blue-dark !important;
  }
  &.equalby-blue {
    background: $equalby-blue !important;
    .menu>li a:focus, .menu>li a:hover {
      background: $equalby-blue-dark !important;
    }
  }
  &.equalby-yellow {
    background: $equalby-yellow;
    .menu>li a:focus, .menu>li a:hover {
      background: $equalby-yellow-dark !important;
    }
  }
}

.photo-credit, .small.photo-credit, .text-right.small.photo-credit {
  font-size: 14px;
  line-height: 1.2;
  color: #383838;
  @media screen and (max-width: 767px) {
    margin: 0 5px;
    text-align: center;
    margin: 5px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 5px;
    text-align: right;
  }
}

.equalby-banner.wb-bgimg-inited {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  min-height: 250px;
  &.bg-left {
    background-position-x: left;
  }
  &.bg-right {
    background-position-x: right;
  }
  &.bg-top {
    background-position-y: top;
  }
  &.bg-bottom {
    background-position-y: bottom;
  }
  @media screen and (min-width: 768px) {
    min-height: 400px;
  }
  @media screen and (min-width: 2000px) {
    min-height: 420px;
  }
}

.button-big-centered-wrapper {
  display: inline-table;
  &.full-width {
    width: 100%;
  }
}

a, button {
  &.button-big-centered {
    min-height: 50px;
    display: table-cell;
    vertical-align: middle;
  }
}

.min-ht-50 {
  min-height: 50px !important;
}
