@use "sass:color";

h1 {
    border: none !important;
}

// Colours
// Who we are
$ngsc-red: rgb(132, 60, 12);
$ngsc-red-dark: color.scale($ngsc-red, $lightness: -10%, $saturation: 10%);

// Publications
$ngsc-green: rgb(56, 87, 35);
$ngsc-green-dark: color.scale($ngsc-green, $lightness: -10%, $saturation: 10%);

// PGS & Home
$ngsc-blue: rgb(31, 78, 121);
$ngsc-blue-dark: color.scale($ngsc-blue, $lightness: -10%, $saturation: 10%);

// Contact Us
$ngsc-yellow: rgb(127, 96, 9);
$ngsc-yellow-dark: color.scale($ngsc-blue, $lightness: -10%, $saturation: 10%);

.well {
  &.ngsc-red {
    background: $ngsc-red;
  }
  &.ngsc-green {
    background: $ngsc-green;
  }
  &.ngsc-blue {
    background: $ngsc-blue;
  }
  &.ngsc-yellow {
    background: $ngsc-yellow;
  }
}

