
.button-big-centered-wrapper {
  display: inline-table;
}

a, button {
  &.button-big-centered {
    min-height: 68px;
    display: table-cell;
    vertical-align: middle;
  }

}

.field--name-body {
  .float-icon {
    display: none;
    @media (min-width: 768px) {
      display: block;
      float: right;
      margin-top: -87px;
      background: white;
      padding: 10px;
      width: 134px;
      height: 134px;
    }
  }
  .float-icon-shield {
    display: block;
    padding-right: 154px;
  }
}

body .well {
  box-shadow: none;
  border-radius: 0;
  border: none;
  &.bg-info {
    //background-color: #bdd7ee;
  }
}

.well.bluebox {
  background: #bdd7ee;
}

.disclaimer {
  font-style: italic;
  line-height: 1.35em;
  margin: 10px 0;
  font-weight: 700;
  font-size: 14px;
}
